@import "../settings/breakpoints";

.coverImage {
  margin-bottom: var(--spacer-m);
}

.issueTop {
  margin-top: var(--gap);
  margin-bottom: var(--gap);

  @media (--medium) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.issuePDF {
  text-align: center;
}

.spotifyWrapper {
  margin-bottom: var(--gap);

  @media (--medium) {
    text-align: right;
    /* margin-right: var(--gap); */
  }
}

.summary {
  font-size: 20px;
}

.articlesSection {
  margin-top: var(--gap);
  border-top: var(--border);
  padding-top: var(--gap);
}
