.issueCard {
  position: relative;
  margin-bottom: var(--gap);
}

.coverImage {
  margin-bottom: var(--spacer-s);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.articleLink {
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
  }
}
