.issueCard {
  --shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  --offset: 0;
  position: relative;
  margin-bottom: var(--gap);

  &:hover {
    --shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }

  &:active {
    --offset: 1px;
  }
}

.coverImage {
  margin-bottom: var(--spacer-s);
  box-shadow: var(--shadow);
  transition: box-shadow 350ms ease, transform 350ms ease;
  transform: translate(var(--offset), var(--offset));
}

.articleLink {
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
  }
}
