.issueCard {
  --shadow: var(--shadow-elevation-medium);
  --offset: 0;
  position: relative;
  margin-bottom: var(--gap);
  transition: transform 300ms ease;
  transform-origin: bottom right;

  &:nth-child(even) {
    transform-origin: bottom left;

    &:hover {
      transform: translateY(-10px) rotate(1deg);
    }
  }

  &:hover {
    /* --shadow: var(--shadow-dark); */
    --shadow: var(--shadow-elevation-high);
    transform: translateY(-10px) rotate(-1deg);
  }

  &:active {
    --offset: 1px;
  }
}

.coverImage {
  margin-bottom: var(--spacer-s);
  box-shadow: var(--shadow);
  transition: box-shadow 350ms ease, transform 350ms ease;
  transform: translate(var(--offset), var(--offset));
}

.articleLink {
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
  }
}

.cardHeading {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
}

.date {
  font-size: 0.5em;
  font-weight: normal;
  color: var(--violet);
}
