@import "../settings/breakpoints";

.pdfLink {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--spacer-s);
  font-size: 22px;
  align-items: center;
  justify-items: center;

  @media (--medium) {
    grid-template-columns: auto 1fr;
    justify-items: start;
  }

  & svg {
    width: 40px;
    fill: currentColor;
  }
}
