@import "../settings/breakpoints";

.telenarrationWrapper {
}

.telenarration {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--spacer);
}

.intro {
  margin-bottom: var(--spacer-m);
}

.question,
.answer {
  padding: var(--spacer-s);
  border-radius: 10px;
  min-width: 40%;
  max-width: 80%;
  box-shadow: var(--shadow-elevation-medium);

  @media (--medium) {
    min-width: 30%;
    max-width: 60%;
  }
}

.question {
  background-color: var(--honeydew);
}

.answer {
  background-color: var(--light-grey);
  margin-left: auto;
  @media (--medium) {
  }
}

.answer p {
  margin-bottom: 0;
}
