.telenarrationWrapper {
}

.telenarration {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--spacer);
}

.intro {
  margin-bottom: var(--spacer-m);
}

.question,
.answer {
  padding: var(--spacer-s);
  border-radius: 10px;
}

.question {
  background-color: var(--honeydew);
}

.answer {
  background-color: var(--light-grey);
}

.answer p {
  margin-bottom: 0;
}
