:root {
  --pure-white: #fff;
  --white: rgb(251, 249, 248);
  --black: #000;
  --dark-grey: rgb(50, 49, 50);
  --nearly-black: #191918;
  --honeydew: #fbcaef;
  --light-pink: #fbcaef;
  --pink: #f865b0;
  --magenta: #e637bf;
  --violet: #48304d;

  --body-bg: var(--pure-white);
  --body-color: var(--dark-grey);

  --link-color: var(--pink);
  --link-color-hover: var(--magenta);
}
