:root {
  --pure-white: #fff;
  --white: rgb(251, 249, 248);
  --black: #000;
  --dark-grey: rgb(50, 49, 50);
  --nearly-black: #191918;
  --honeydew: #dff3e4;
  --blue-green: #81d2c7;
  --light-pink: #fbcaef;
  --pink: #f865b0;
  --magenta: #e637bf;
  --violet: #967aa1;

  --body-bg: var(--pure-white);
  --body-color: var(--dark-grey);

  --selection-background-color: var(--violet);
  --selection-color: var(--white);

  --link-color: var(--pink);
  --link-color-hover: var(--magenta);
  --link-color-active: var(--light-pink);

  --shadow: 0 0 18px rgba(25, 25, 23, 0.2);
  --shadow-dark: 0 0 18px rgba(25, 25, 23, 0.4);
}
