.container {
  padding-left: var(--edge-space);
  padding-right: var(--edge-space);
}

.container--narrow {
  margin-left: auto;
  margin-right: auto;

  @media (--large) {
    max-width: 60vw;
  }
}

.content {
}

.structured-content {
  font-size: var(--content-font-size);

  & p {
    margin-bottom: var(--gap);
  }
}
